<h2>Student Profile</h2>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="name">Name</label>

    <input
      id="name"
      type="text"
      formControlName="name">

    <p *ngIf="profileForm.get('name')?.touched &&
        profileForm.get('name')?.invalid">
        Name is required
    </p>
  </div>

  <br>

  <div>
    <label for="email">Email</label>

    <input
      id="email"
      type="email"
      formControlName="email">

    <p *ngIf="profileForm.get('email')?.touched &&
        profileForm.get('email')?.invalid">
        Enter a valid email
    </p>
  </div>

  <br>

  <div>
    <label for="semester">Semester</label>

    <input
      id="semester"
      type="number"
      formControlName="semester">

    <p *ngIf="profileForm.get('semester')?.touched &&
        profileForm.get('semester')?.invalid">
        Semester must be between 1 and 8
    </p>
  </div>

  <br>

    <button type="submit" [disabled]="profileForm.invalid">
        Submit Profile
    </button>

</form>